body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: rgb(17, 17, 17);
	background-color: #fcfefe;
}

.cls_t2i7a {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.cls_v71s3l {
	background: linear-gradient(135deg, #003A63, #003A62, #001A2E);
	color: #fcfefe;
	text-align: center;
}

.cls_v71s3l h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.cls_v71s3l h1 .cls_r1w8wovm {
  color: #ffffe2;
  background: #d4a656;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 600;
}

.cls_r8922o {
	max-width: 100%;
	height: auto;
	width: 750px;
	border: 3px solid white;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

.cls_4s891 {
	text-align: center;
}

.cls_w12lk {
	display: inline-block;
	background-color: #fddb31;
	color: rgb(17, 17, 17);
	padding: 20px 40px;
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
	border-radius: 10px;
	margin: 15px 0;
	transition: background-color 0.3s ease;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cls_w12lk:hover {
	background-color: #fbbf2e;
}

.cls_4s891 p {
	font-size: 1.1rem;
	line-height: 1.5;
	text-align: left;
	margin-bottom: 20px;
    font-weight: 500;
}

.cls_w40m0783 {
	background-color: #dddddd;
	color: #737373;
	padding: 30px 0;
	text-align: center;
	font-size: 0.8rem;
}

.cls_w40m0783 .cls_h6w2h56s {
	max-width: 700px;
	margin: 20px auto;
	line-height: 1.6;
}

.cls_q3t4oq {
	margin-top: 20px;
}

.cls_q3t4oq a {
	color: #737373;
	text-decoration: none;
	margin: 0 15px;
	font-weight: 500;
}

.cls_q3t4oq a:hover {
	text-decoration: underline;
}

@media (max-width:768px) {
	.cls_v71s3l h1 {
		font-size: 1.5rem;
	}

	.cls_w12lk {
		font-size: 1.2rem;
		padding: 15px 30px;
	}

	.cls_r8922o {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}
}